# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# React Native / Expo
.expo/
.expo-shared/
*.log
*.tmp
*.temp
*.swp

# Metro / React Native cache
.cache/
bundles/
dist/

# Ignore native Android and iOS code
Vaarta/android/
Vaarta/ios/

# Build / output directories
build/
Vaarta/build/
Vaarta/out/
Vaarta/coverage/

# OS / IDE
.idea/
.vscode/
*.iml

# Watchman
.watchmanconfig

# Environment files
.env
.env.*
